{% load static %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Django Public Blog — вход</title>
</head>
<body class="registration">
<div class="content">
    <div class="registration_header">
        <h1>Вход</h1>
        <a class="back-link" href="{% url 'archive' %}">
            Все статьи
        </a>
    </div>

    <form method="POST">
        {% csrf_token %}
        <label>
            <input type="text" name="username" placeholder="Имя пользователя">
        </label>
        <label>
            <input type="password" name="password" placeholder="Пароль">
        </label>
        <div class="login_button">
            <input type="submit" value="Войти">
        </div>
    </form>
    {% if form.error %}
        <div class="form-errors">
            {{ form.error }}
        </div>
    {% endif %}
</div>
</body>
</html>
