{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Архив всех статей</title>
</head>
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<body class="archive">
<div class="header">
    <img src="{% static 'img/dpb-logo.png' %}" alt="Лого"/>
    <div class="header_link">
        <a class="header-auth back-link" href="{% url 'registration' %}">
            Регистрация
        </a>
        <a class="header-auth back-link" href="{% url 'login' %}">
            Вход
        </a>
    </div>
</div>
<div class="archive">
    {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">
                <a href="{% url 'get_article' post.id %}">
                    {{ post.title }}
                </a>
                <span class="fold-button">Cвернуть</span>
            </h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
    {% endfor %}
</div>
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
</body>
</html>