{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Архив всех статей</title>
</head>
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<body class="archive">
<div class="header">
    <img class="logo" src="{% static 'img/dpb-logo.png' %}" alt="Лого">
    <div class="header-with-parallax">
        <div class="header-text-area">
            <p class="service-title">Коллективный блог</p>
            <div class="service-link">
                <a href="/registration/" class="register-link">Регистрация</a>
                <a href="/login/" class="register-link">Вход</a>
            </div>
        </div>
        <div class="icons-for-parallax">
            <img class="icon-for-parallax-first" src="{% static 'img/article-icon-for-parallax.png' %}" alt="">
            <img class="icon-for-parallax-second" src="{% static 'img/article-icon-for-parallax.png' %}" alt="">
            <img class="icon-for-parallax-third" src="{% static 'img/article-icon-for-parallax.png' %}" alt="">
        </div>
    </div>
</div>
<div class="archive">
    {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">
                <a href="{% url 'get_article' post.id %}">
                    {{ post.title }}
                </a>
                <span class="fold-button">Cвернуть</span>
            </h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
            <div class="one-post-shadow"></div>
        </div>
    {% endfor %}
</div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
    <script src="{% static 'js/highlight-post.js' %}"></script>
    <script src="{% static 'js/logo.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
</body>
</html>